<head> <%= stylesheet_link_tag 'bootstrap.min' %> </head>
<h1> Todo Show Page </h1>
<p> Title : <%= @todo['title']%></p>
<p> Description : <%= @todo['description']%></p>

<%= link_to "Back To Todo List", todos_path%>
